
.ready{
}
.fail{
   -fx-dark-text-color: #880000;
   -fx-mid-text-color: #880000;
   -fx-light-text-color: #880000;
   -fx-background-color: #FFbbbb;
}
.processing{
   -fx-dark-text-color: #888888;
   -fx-mid-text-color: #888888;
   -fx-light-text-color: #888888;
   -fx-background-color: #cccccc;
}
.complete{
   -fx-dark-text-color: #005500;
   -fx-mid-text-color: #005500;
   -fx-light-text-color: #005500;
   -fx-background-color: #99cc99;
}

.rowStyleSelected:filled:selected { 
  -fx-font-weight:bold;
}